nextcloud/database/
nextcloud/mariadb_password.txt
nextcloud/mariadb_root_password.txt
nextcloud/nextcloud/
nextcloud/nextcloud_admin_password.txt
nextcloud/nextcloud_admin_user.txt
nginxproxymanager/data/
nginxproxymanager/letsencrypt/