version: "3.8"
services:
  # wireguard client
  wireguard_client:
    image: ghcr.io/linuxserver/wireguard
    container_name: wireguard_client
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      # - SERVERURL=wireguard.domain.com #optional
      # - SERVERPORT=51820 #optional
      # - PEERS=1 #optional
      # - PEERDNS=auto #optional
      # - INTERNAL_SUBNET=10.13.13.0 #optional
      # - ALLOWEDIPS=0.0.0.0/0 #optional
    ports:
      - 8081:8112 #deluge webui
      - 8082:8989 #sonarr
      - 8083:9117 #jackett
      - 8084:7878 #radarr
    volumes:
      - ./wireguard/config:/config
      - /lib/modules:/lib/modules
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
  # deluge client connected to wireguard client
  deluge:
    image: ghcr.io/linuxserver/deluge
    container_name: deluge
    network_mode: "service:wireguard_client"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - ./deluge/config:/config
      - ./deluge/downloads:/downloads
      - ./deluge/blackhole:/blackhole
      - ./deluge/personal:/personal
    restart: unless-stopped
  # sonarr client connected to wireguard client
  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    network_mode: "service:wireguard_client"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - ./sonarr/config:/config
      - ./deluge/downloads:/downloads:rw
    restart: unless-stopped
  # jackett client connected to wireguard client
  jackett:
    image: ghcr.io/linuxserver/jackett
    container_name: jackett
    network_mode: "service:wireguard_client"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - AUTO_UPDATE=true #optional
      # - RUN_OPTS=<run options here> #optional
    volumes:
      - ./jackett/config:/config
      - ./deluge/blackhole:/downloads:rw
    restart: unless-stopped
  # radarr client connected to wireguard server
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    network_mode: "service:wireguard_client"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - ./radarr/config:/config
      - ./deluge/downloads:/downloads:rw
    restart: unless-stopped
  # ombi client connected to wireguard server
  ombi:
    image: ghcr.io/linuxserver/ombi
    container_name: ombi
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
      - BASE_URL=/ombi #optional
    volumes:
      - ./ombi/config:/config
    ports:
      - 8093:3579
    restart: unless-stopped
  # plex
  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - PLEX_CLAIM=claim-USD7pRbyJLegbEzkxaQs
    volumes:
      - ./plex/config:/config
      - ./deluge/downloads:/tv
      - ./deluge/downloads:/movies
      - ./deluge/downloads:/music
    restart: unless-stopped
  # nginx proxy manager
  nginx_proxy_manager:
    image: jlesage/nginx-proxy-manager
    container_name: nginx_proxy_manager
    ports:
      - "81:8181"
      - "80:8080"
      - "443:4443"
    volumes:
      - "./nginx_proxy_manager/appdata:/config:rw"
    restart: unless-stopped
  # maria database
  maria_db:
    image: ghcr.io/linuxserver/mariadb
    container_name: maria_db
    environment:
      - PUID=1000
      - PGID=1000
      - MYSQL_ROOT_PASSWORD=changeme
      - TZ=Europe/Amsterdam
      # - MYSQL_DATABASE= #optional
      # - MYSQL_USER= #optional
      # - MYSQL_PASSWORD= #optional
      # - REMOTE_SQL=http://URL1/your.sql,https://URL2/your.sql #optional
    volumes:
      - ./database:/config
    ports:
      - 3306:3306
    restart: unless-stopped
  # bookstack
  bookstack:
    image: ghcr.io/linuxserver/bookstack
    container_name: bookstack
    environment:
      - PUID=1000
      - PGID=1000
      - APP_URL=https://docs.lucabergman.nl
      - DB_HOST=maria_db
      - DB_USER=bookstack
      - DB_PASSWORD=changeme
      - DB_DATABASE=bookstack
    volumes:
      - ./bookstack/config:/config
    ports:
      - 8086:80
    restart: unless-stopped
    depends_on:
      - maria_db
  # nextcloud
  nextcloud:
    image: nextcloud
    container_name: nextcloud
    restart: unless-stopped
    ports:
      - 8087:80
    volumes:
      - ./nextcloud:/var/www/html
    environment:
      - MYSQL_HOST=maria_db
      - MYSQL_USER=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_PASSWORD=changeme
    depends_on:
      - maria_db
  # phpmyadmin
  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: unless-stopped
    depends_on:
      - maria_db
    ports:
      - 8088:80
    environment:
      - PMA_ARBITRARY=1
  pyload:
    image: ghcr.io/linuxserver/pyload
    container_name: pyload
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Amsterdam
    volumes:
      - ./pyload/config:/config
      - ./pyload/downloads:/downloads
    ports:
      - 8089:8000
      - 8090:7227 #optional
    restart: unless-stopped
  scribbl:
    image: biosmarcel/scribble.rs
    container_name: scribbl
    ports: 
      - 8091:8080
    environment: 
      - portHTTP=8080
  wordpress_josephine:
    container_name: wordpress_josephine
    image: wordpress
    restart: always
    ports:
      - 8092:80
    environment:
      WORDPRESS_DB_HOST: maria_db
      WORDPRESS_DB_USER: wordpress_josephine
      WORDPRESS_DB_PASSWORD: changeme
      WORDPRESS_DB_NAME: wordpress_josephine
    volumes:
      - ./wordpress_josephine/var/www/html:/var/www/html
    depends_on: 
      - maria_db
      