version: "2.1"
services:
  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    network_mode: bridge
    ports:
      - 87:32400
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - PLEX_CLAIM= #optional
    volumes:
      - ../../docker/plex/config:/config
      - ../../docker/deluge/tv:/tv
      - ../../docker/deluge/movies:/movies
      - ../../docker/deluge/music:/music
      - ../../docker/deluge/hentai:/hentai
      - ../../docker/deluge/porn:/porn
      - ../../docker/deluge/manga:/manga
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
    
networks:
  default:
    external:
      name: reverseproxy
